<!DOCTYPE html>

<head>
    <title>Pusher Test</title>
    <script src="https://js.pusher.com/8.4.0/pusher.min.js"></script>
    <script>

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('{{ pusher_key }}', {
            cluster: '{{ pusher_cluster }}'
        });

        // my channel di ganti jadi user-{user_id}

        // Event realtime notification
        // my-event di ganti jadi notification.sent


        // Event lain menyusul

        var channel = pusher.subscribe('user-{{ user_id }}');
        channel.bind('notification.sent', function (data) {
            alert(JSON.stringify(data));
        });
    </script>
</head>

<body>
    <h1>Pusher Test</h1>
    <p>
        Try publishing an event to channel <code>my-channel</code>
        with event name <code>my-event</code>.
    </p>
</body>